DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Pan Bastardo</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
         <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,400&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="estilos1.css">
	</head>

	<body>
		<div class="contenedor">
			<header class="header">
				<div class="title">
					<h1>Pan Bastardo <span>de nuestro horno a tu mesa !</span></h1>
				</div>
				<nav class="menu">
					<a href="#">Inicio</a>
					<a href="#">Acerca de</a>
					<a href="#">Artículos</a>
					<a href="#">Contacto</a>
				</nav>
			</header>

			<article class="articulo destacado">
				<div class="contenedor-texto">
					<div>
						<h2 class="titulo"><a href="#">Pan de Campo especial precio = 180 UYU</a></h2>
						<p class="fecha">
						Abrimos nuestras puertas de martes a sábados de  <time>07:00am a 12:00pm </time>
						</p> 
					</div>
					<p class="descripción">
                        Pan tradicional hogaza dorada.
					</p>
					<a href="htmlcheckOut.html" class="btn-link">Solicitar</a>
				</div>
				
                <div class="contenedor-thumbnail">
					<a href="#">
						<img src="panDeCampo.jpg" alt="">
					</a>
				</div>
			</article>

			<main class="contenido">
				<article class="articulo">
					<div class="contenedor-thumbnail">
						<a href="#"><img src="panBaguette.jpg" alt=""></a>
					</div>
					<div class="contenedor-texto">
						<div>
							<h2 class="titulo">
								<a href="#">Pan Baguette precio = 100UYU</a>
							</h2>
							<p class="fecha">
							Abrimos nuestras puertas de martes a sábados de  <time>07:00am a 12:00pm </time>
							</p>
						</div>
						<p class="descripción">
							El pan que hizo famoso a Paris es el pan urbano por excelencia.
						</p>
						<a href="htmlcheckOut.html" class="btn-link">Solicitar</a>
					</div>
				</article>

				<article class="articulo">
					<div class="contenedor-thumbnail">
						<a href="#"><img src="panRústico.jpg" alt=""></a>
					</div>
					<div class="contenedor-texto">
						<div>
							<h2 class="titulo">
								<a href="htmlcheckOut.html">Pan barra rústica precio = 140UYU</a>
							</h2>
							<p class="fecha">
							Abrimos nuestras puertas de martes a sábados de  <time>07:00am a 12:00pm </time>
							</p>
						</div>
						<p class="descripción">
							Masa sin grasa de larga fermentación producto final con aroma dulce y frutos secos.
						</p>
						<a href="htmlcheckOut.html" class="btn-link">Solicitar</a>
					</div>
				</article>

				<article class="articulo">
					<div class="contenedor-thumbnail">
						<a href="#"><img src="panFoccacia.jpg" alt=""></a>
					</div>
					<div class="contenedor-texto">
						<div>
							<h2 class="titulo">
								<a href="#">Pan Focaccia precio = 180UYU</a>
							</h2>
							<p class="fecha">
						    Abrimos nuestras puertas de martes a sábados de  <time>07:00am a 12:00pm </time>
							</p>
						</div>
						<p class="descripción">
						 Correa dorada de masa rústica y cobertura creativas.
						</p>
						<a href="htmlcheckOut.html" class="btn-link">Solicitar</a>
					</div>
				</article>
			</main>

			<aside class="sidebar">
				<div class="acerca-de">
					<img src="panPresentración.jpg" alt="" class="img-perfil">

					<div class="bio">
						<p class="titulo">Bienvenido!</p>
						<p>
				Pan Bastardo nacé apartir de la unión de dos amigos con un sueño en común.
                Comenzarón en la panadería del padre de uno de ellos con la venta de hamburguesas caseras.
                Un día llegó la independencia,lograrón tener su propio local.
                En las mañanas se dedican a las ventas de Pan Bastardo y en las noches a la vente de hamburguesas denominadas Horreo Burguers, en honor a la primera panaderia,la de su padre.
						</p>
					</div>
				</div>
				<nav class="menu">
					<a href="#">Acerca de</a>
					<a href="#">Portafolio</a>
					<a href="#">Contacto</a>
				</nav>
                <footer>
                    <p id="cname">Pan Bastardo Horreo Burger 2021</p>
                </footer>
			</aside>