.telefono{
    color:white;
    text-align: center;
}
.direccion{
    color:white;
    text-align: center;
}

.horario{
    color:white;
    text-align: center;
}

.historia{
    color:white;
    text-align: center;
}
.footer{
    color:white;
    text-align:right;
};